@model netflix_clone.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_login-signup.cshtml";
}
@{
    if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }
}

<div class="login-signup-div">
    <h2>Register</h2>
    @* Display all errors if there are any *@
    <!-- Display all validation errors at the top -->
    @Html.ValidationSummary(true, "Please fix the errors below:", new { @class = "text-danger" })

    <form method="post" asp-action="Register">
        <div class="mb-3">

            <input type="email" class="form-control" id="email1" aria-describedby="email" placeholder="EMAIL"
                name="Email">
            @* <label for="email">Email</label> *@

        </div>
        <div class="mb-3">

            <input type="password" class="form-control" id="password" placeholder="PASSWORD" name="Password">
            @* <label for="password">Password</label> *@
        </div>

        <div class="mb-3">

            <input type="password" class="form-control" id="confirmpassword" placeholder="CONFIRM PASSWORD"
                name="ConfirmPassword">
            @* <label for="password">Password</label> *@
        </div>
        <select class="form-select mb-3" aria-label="Default select example" id="subscriptiontype"
            name="SubscriptionType">
            <option selected>!--Select Your Plan--!</option>
            <option value="basic">Basic</option>
            <option value="standard">Standard</option>
            <option value="premuim">Premium</option>
        </select>

        <div class="subscription-period-div mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="subscriptionperiod" id="1month" value="1month"
                    checked>
                <label class="form-check-label" for="1month">
                    1 month
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="subscriptionperiod" id="3month" value="3months">
                <label class="form-check-label" for="3month">
                    3 months
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="subscriptionperiod" id="3month" value="6months">
                <label class="form-check-label" for="3month">
                    6 months
                </label>
            </div>
        </div>
        <div class="mb-3">

            <input type="text" class="form-control" id="cardnumber" aria-describedby="cardnumber"
                placeholder="CARD NUMBER" name="CardNumber">
            @* <label for="email">Email</label> *@
        </div>

        <button type="submit" class="btn w-100 login-signup-button">Register</button>



    </form>

</div>